# This lab:
/lab-06_int-vector

# General build directories:
# - for Makefile:
/obj/
# - for CMake, by default:
/build/
/_build/

# CLion projects:
/.idea/
/cmake-build*/
CMakeLists.txt
/lab-06_int-vector.dSYM/