# This lab:
/lab-12_exceptions

# General build directories:
# - for Makefile:
/obj/
# - for CMake, by default:
/build/
/_build/

# CLion projects:
/.idea/
/cmake-build*/
CMakeLists.txt
/lab-12_exceptions.dSYM/