# This lab:
/lab-04_intrusive-list

# General build directories:
# - for Makefile:
/obj/
# - for CMake, by default:
/build/
/_build/

# CLion projects:
/.idea/
/cmake-build*/
CMakeLists.txt
/lab-04_intrusive-list.dSYM/